@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --grey2: #171717; */
  --background: #121212;
  --dark2: #212121;
  --grey1: #535353;
  --grey2: #b3b3b3;
  --popcol: #c9a0ff;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --dark2: #212121;
    --grey1: #535353;
    --grey2: #b3b3b3;
    --popcol: #c9a0ff;
    --white: #ffffff;
  }
}

body {
  color: var(--grey2);
  background: var(--background);
}

body {
  font-family: "Inter", sans-serif;
}

/* Style for Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: white;
  /* Color of the scrollbar thumb */
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Transparent track */
}

select {
  background-color: var(--dark2);
  color: var(--white);
  border: 1px solid var(--grey1);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 0.5rem;
  transition: border-color 0.2s ease-in-out;
  width: 20%;
}

select:focus {
  outline: none;
  border-color: var(--popcol);
  box-shadow: 0 0 5px var(--popcol);
}

select option {
  background-color: var(--popcol);
  color: white;
  padding: 5px;
}

select:hover {
  background-color: var(--background);
}
